<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="text/html; charset=ISO-8859-1" http-equiv="Content-Type" />

    <meta name="keywords" content="Beyond Social, research, publishing, magazine, wiki, social art, social design, design, art, Willem de Kooning Academy, University of Applied Sciences Rotterdam, Hogeschool Rotterdam, Rotterdam, The Netherlands, students, WdKA, Social Practice, Pulication Station,  Iris Schutten, Deanna Herst, Tabo Goudswaard, Redesigning Business." />
    <meta name="author" content="Beyond Social" />
    <meta name="application-name" content="Beyond Social | Magazine Investigating Social Art and Design" />
    <meta property="description" content="Beyond Social is an international and collaborative research and publishing platform on social art and design. "  />
    <!-- for Facebook -->
    <meta property="og:image" content="http://beyond-social.org/img/BS.png"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:title" content="Beyond Social | Magazine Investigating Social Art and Design"/>
    <meta property="og:site_name" content="Beyond Social | Magazine Investigating Social Art and Design" />
    <meta property="og:url" content="http://beyond-social.org/"/>
    <meta property="og:description" content="Beyond Social is an international and collaborative research and publishing platform on social art and design. "  />


    <script src="./js/jquery-1.11.1.min.js" type="text/javascript">
      
    </script>
    <!--@Andre: Keep "a"s wrapped by script-->
    <script src="./js/isotope.js" type="text/javascript"></script>
    <script src="./js/scripts-1.js" type="text/javascript">
      
    </script>
    <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400,600,700,400italic,600italic,700italic" rel="stylesheet" type="text/css" />
    <link href="./styles/beyond-1.css" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Raleway:800" rel="stylesheet" type="text/css" />
    <title></title>
  </head>
  <body>
    <div id="BeyondHeader">
      <div class="top">
        <div class="title-beyond">
          <h1>Beyond<br />Social</h1>
          <p>Magazine
            <br />Investigating
            <br />Social Art and Design</p>
        </div>
      </div>
    </div>
    <div class="issueWrapper">
      <!-- NEW WRAPPERS ADDED FOR SORTING: div textImage && div sortTopics -->
      <div class="themes" id="sortArea">
        <div id="textImage">
          <label>
            <p>Filter by: </p>
          </label>
          <label>
            <input class="Text" name="Text" type="checkbox" value=".Text" checked/>
            <p>Title</p>
          </label>
          <label>
            <input class="Image" name="Image" type="checkbox" value=".Image" />
            <p>Image</p>
          </label>
        </div>
        <br>
        <div id="sortTopics">
          <label>
            <p>Topics: </p>
          </label>
          <label>
            <input class="Aesthetics" name="Aesthetics" type="checkbox" value=".Aesthetics" />
            <p>Aesthetics</p>
          </label>
          <label>
            <input class="Bottom-up" name="Bottom-up" type="checkbox" value=".Bottom-up" />
            <p>Bottom-up</p>
          </label>
          <label>
            <input class="Economics" name="Economics" type="checkbox" value=".Economics" />
            <p>Economics</p>
          </label>
          <label>
            <input class="Failures" name="Failures" type="checkbox" value=".Failures" />
            <p>Failures</p>
          </label>
          <label>
            <input class="Participation" name="Participation" type="checkbox" value=".Participation" />
            <p>Participation</p>
          </label>
          <label>
            <input class="Politics" name="Politics" type="checkbox" value=".Politics" />
            <p>Politics</p>
          </label>
          <label>
            <input class="Transformation" name="Transformation" type="checkbox" value=".Transformation" />
            <p>Transformation</p>
          </label>
          <label>
            <input class="Visions" name="Visions" type="checkbox" value=".Visions" />
            <p>Visions</p>
          </label>
          <label>
            <input class="Technology" name="Technology" type="checkbox" value=".Technology" />
            <p>Technology</p>
          </label>
        </div>
      </div>

      <div class="issueItem">      

     <!-- <div class="issueItem"> 	 -->
     <!--    <div class="issue">  -->
     <!--      <p>Issue 01: Redesigning Business</p>  -->
     <!--    </div>  -->
     <!--    <ul class="imageNavigation" style="display: none; position: relative; height: 250px;" ></ul>  -->
     <!--    <ul class="list" id="section_Introduction"></ul>  -->
     <!--    <ul class="list" id="section_Discourse"></ul>  -->
     <!--    <ul class="list" id="section_Projects"></ul>  -->
     <!--    <ul class="list" id="section_Proposals"></ul>  -->
     <!-- 		</div>		 -->
     <!-- </div> -->


      </div>

    <div id="BeyondFooter">
      <div class="top">
      </div>
      <div class="intro">
            <p class="colophon">
                <b>Initiative:</b> Iris Schutten, Social Practices WdKA
                <b>Web Development:</b> André Castro, publication Station WdKA
                <b>Visual Design/Web Development:</b> Marlon Harder & Lasse van den Bosch Christensen, <a href="http://template01.info">TEMPLATE</a>
                <b>Contact:</b> Iris Schutten / Deanna Herst / Tabo Goudswaard <a href="mailto:wdka.beyondsocial@hr.nl">wdka.beyondsocial@hr.nl </a>
            </p>
        <p style="float:right;">
          <a class='noStyleLink' href="http://wdka.nl"><img src="./img/wdkalogo.svg" width="auto" height="100px">
          </a>
        </p>
      </div>
      <div class="intro">
          Beyond Social issues: <br>
          <a href="issue-1.html"><b>Issue 1</b>: Redesigning Business</a><br> 
          <a href="issue-2.html"><b>Issue 2</b>: Education</a><br>
          <a href="issue-3.html"><b>Issue 3</b>: Radical Reframing</a>
      </div>
    </div>
  </body>
</html>
