<!DOCTYPE HTML>
<html>
    <head>
      <title></title>
      <script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
      <script type="text/javascript" src="../js/scripts_single-3.js"></script>
      <script type="text/javascript" src="../js/scripts_shared.js"></script>

      <meta charset="utf-8">
      <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <link rel="stylesheet" type="text/css" href="../styles/beyond-3.css">
      <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    </head>
    <body>

      <div class="headerWrapper">
        <div class="top article">
          <a class="headerBack" href="javascript: window.history.back()" target="_self">
          <div class="title-beyond">
            <h1>Beyond Social</h1>
            <p>Magazine
              <br>Investigating
              <br>Social Art and Design
            </p>
          </div>
          </a>

        <div id="headerLogos">
          <a class="noStyleLink" href="http://wdka.nl"><img src="../img/wdkalogo_bw.svg" width="auto"></a> 
          <img src="../img/wdkalogo_2.svg" width="auto">
        </div>

          <div class="extra-beyond">
            <p><span id="toAbout">About <i class="fa fa-question-circle" aria-hidden="true"></i></span><br>
            <span id="toJoin"><a href="http://beyond-social.org/wiki/index.php/Want_to_join_us%3F " id="" target="_blank">Join Us <i class="fa fa-exclamation-circle" aria-hidden="true"></i></a></span>
            </p>
          </div>     
        </div>
        <div class="articleHeader"> 
          <p>Issue <span id="issue"></span></p>
            <p>Section: <span id="section"></span>
            <br>Topics: <span id="topics"></span></p>
            <div class="articleHeaderActions">
            <span class="floatRight" id="shareButtons">Share <a class="twitter-share-button" target="_blank"  id="shareTwitter" href=""> <i class="fa fa-twitter-square" aria-hidden="true"></i></a> <a href="" id="shareFacebook" target="_blank"> <i class="fa fa-facebook-square" aria-hidden="true"></i></a></span>
             <span class="floatRight">  
            <a href="javascript:window.print()">Print <i class="fa fa-file" aria-hidden="true"></i> </a></span>
            <span class="floatRight" class="title-back">
              <a class="backLink" href="javascript: window.history.back ()">Back to index <i class="fa fa-arrow-circle-left arrowBack" aria-hidden="true"></i> </a>
            </span>
            </div> 
        </div>
    </div> 
	<div class="content"> 
	  <h1 title="title"></h1>
	  <p class="authorTitle"></p>
	</div>

    <div id="BeyondFooter">
      <div class="top">
      </div>
      <div class="intro">
        <p class="colophon">
          <b>Initiative:</b> Iris Schutten, Social Practices WdKA
          <b>Guest Editor:</b> Sikko Cleveringa 
          <b>Editor:</b> ?
          <b>Editing:</b> ?
          <b>Publishing:</b> Aldje van Meer, Kimmy ?
          <b>Web Development:</b> André Castro, WdKA Publication Station & Manetta Berends
          <b>Visual Design/Web Development:</b> Marlon Harder & Lasse van den Bosch Christensen - Template 
          <b>Contact:</b> <a href="mailto:wdka.beyondsocial@hr.nl">wdka.beyondsocial@hr.nl </a>
        </p>
        <p class="floatRight" class="">
          <a id="toTop" class="" href="">To top <i class="fa fa-arrow-circle-up arrowBack" aria-hidden="true"></i> </a>
        </p>
      </div>
    </div>

    </body>
</html>
