
/*/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/


.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.0s;
     -moz-transition-duration: 0.0s;
          transition-duration: 0.0s;
}


.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
opacity:1;
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0.0s;
     -moz-transition-duration: 0.0s;
          transition-duration: 0.0s;
}

/* End: Recommended Isotope styles */

a:active {
  outline: none;
}

label {
  width: auto;
  float: left;
  margin: 5px;
}

label *{
   user-select: none;
   -o-user-select:none;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

label:hover:not(:first-child){
	cursor:pointer;
	color: blue;
/*
 border-bottom: 6px solid blue;
*/
	-webkit-box-shadow: 0px 6px 0px 0px rgba(0,0,255,1);
	-moz-box-shadow: 0px 6px 0px 0px rgba(0,0,255,1);
	box-shadow: 0px 6px 0px 0px rgba(0,0,255,1);
}

input{
  display: none;
}

.section-wide{
	position: absolute;
	top: 0px;
	left:-19%;
	width: 18%;
	max-width: 260px;
	font-family: avenue;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: normal;
	display: none;
	border-right: 6px solid rgba(200, 0, 0, 1);
}

.section-narrow{
	font-family: avenue;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: normal;
	display: table;
	line-height: initial;
	margin-top: 20px;
	margin-left: 40px;
	border-bottom: 6px solid rgba(200, 0, 0, 1);
}
.issue-narrow{

	margin-left: 0px !important;
	padding-left: 0px !important;
}
.issue{
	margin-left: 20%;
	padding-left: 20px;
	font-family: avenue;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: normal;
	 -moz-transition: y .5s linear;
     -webkit-transition:y .5s linear;
     transition: y .5s linear;
}

.issue p{
	display: inline-block;
	border-bottom: 6px solid rgba(200, 0, 0, 1);
	margin: 0px;
	padding-bottom: 3px;
}

.issueItem{
	display: inline-block;
	width: 100%;
	padding-top: 60px;
}

.list{
	 -moz-transition: all 0.3s ease-in-out 0s;
     -webkit-transition: 0.3s ease-in-out 0s;
     transition: all 0.3s ease-in-out 0s;
}

.underlineFilter{
	-webkit-box-shadow: 0px 6px 0px 0px rgba(200,0,0,1);
	-moz-box-shadow: 0px 6px 0px 0px rgba(200,0,0,1);
	box-shadow: 0px 6px 0px 0px rgba(200,0,0,1);
}

.issueWrapper{
	margin-bottom: 100px;
	width: 100%;
	display: block;
}


@font-face {
	font-family: 'avenue';
	src: url('fonts/AvenirLTStd-Black.eot');
	src: local('☺'), url('fonts/AvenirLTStd-Black.woff') format('woff'), url('fonts/AvenirLTStd-Black.ttf') format('truetype'), url('fonts/AvenirLTStd-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: avenue;
	font-size: 40px;
	color: rgba(200, 0, 0, 1);
	margin: 5%;
	background-color: rgba(240, 240, 240, 1);
}

.intro {
	width:auto;
	display: block;
	float: left;
}

.intro p {
	font-size: 27px;
	line-height: 47px;
    font-family: 'Crimson Text';
}

.intro p a:link, .content p a:visited, .content p a:active {
	text-decoration: none;
	border-bottom: 2px solid rgba(200, 0, 0, 1);
	color: rgba(200, 0, 0, 1);
}

.intro p a:hover {
	text-decoration: none;
	color: blue;
	border-bottom: 2px solid blue;
}

.intro b{
	font-family: avenue;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: normal;

}

.intro b:not(:first-child){
	margin-left: 6px;
}

.content {
	float: right;
	width: 65%;
	display: none;
}

.content p {
	font-size: 27px;
	line-height: 47px;
    font-family: 'Crimson Text';
}

.content h1 {
	font-size: 40px;
	margin-top: 50px;
	font-weight: normal;
	column-span: all;
}

.content h2,h3,h4,h5,h6 {
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: normal;
}

.content p a:link, .content p a:visited, .content p a:active {
	text-decoration: none;
	border-bottom: 6px solid rgba(200, 0, 0, 1);
	color: rgba(200, 0, 0, 1);
}

.content p a:hover {
	text-decoration: none;
	color: blue;
	border-bottom: 6px solid blue;
}

.fullWidth {
	width: 100%;
	float: left;
	text-align: center;
}

.fullWidth p, h2, h1 {
	text-align: left;
}

/* IMAGES >1024 */

.attachment {
	float: left;
	width: 30%;
	margin-top: 50px;
}

.attachment figure {
/*	max-height: 650px;*/
	display: none;
	max-width: 100%;
	margin: 0;
}

.attachment figcaption {
	font-size: 15px;
	line-height: 25px;
}

.attachment img {
	width: auto;
	max-width: 100%; 
}

/* IMAGES <1024 */

.content figure {
	/*max-height: 350px;*/
	display: block;
	margin: 0;
}

.content figcaption {
	font-size: 15px;
	margin-bottom: 30px;
	text-align: left;
	margin: 0 auto;
	line-height: 25px;
}

.content img {
	max-width: 100%;
	max-height: 100%;
}

.content img {
	max-width:  70%;
	max-height: 70%;
}

.selectIssue{
	font-family: avenue;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: normal;
	line-height: 30px;
}
.selectIssue a{
	margin-left: 6px;
	margin-right: 6px;
}

.top {
	width: 100%;
	float: left;
	position: relative;
	border-bottom: 6px solid blue;
}

.article {
	border: 0;
}

.latest {
	float: left;
	padding-right: 50px;
}

.latest a:link, a:active, a:visited {
	text-decoration: none;
	color: rgba(200, 0, 0, 1);
}

.latest a:hover {
	text-decoration: none;
	color: blue;
}

.title-beyond {
/*	float: left;*/
	display: table;
	padding-right: 50px;
	vertical-align:text-bottom;
	padding-bottom: 20px;
}

.title-beyond p{
	display: table-cell;
	font-family: avenue;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: normal;
	line-height: 30px;
	margin: 0px !important;
	vertical-align:bottom;
}

.title-beyond h1{
	display: table-cell;
	font-family: avenue;
	font-size: 40px;
	font-weight: normal;
	margin: 0px !important;
	float: left;
	margin-right: 40px !important;
}

.title-issue {
	float: left;
	font-size: 40px;
	padding-right: 50px;
}

.title-back {
	font-size: 40px;
	float: right;
	margin: 0;
}

a.arrow {
	background-image: url('../img/arrow.svg');
	width: 72px;
	height: 48px;
	display:block;
	background-position: 0% 0%;
	background-size: 77px 50px;
	background-repeat: no-repeat;
    position: absolute; 
    bottom: 16px; 
    right: 0;
}

a.arrow:hover {
	background-image:url('../img/arrow_red.svg');
	display:block;
}

.themes {
	border-bottom: 6px solid blue;
	border-top: 6px solid blue;
	float: left;
	width: 100%;
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: rgba(240, 240, 240, 1);
	z-index: 11111111;
}

.themes p {
	font-family: avenue;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: normal;
	line-height: 30px;
	margin: 0px !important;
}

.articleHeader {
	border-bottom: 6px solid blue;
	border-top: 6px solid blue;
	float: left;
	width: 100%;
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: rgba(240, 240, 240, 1);
	z-index: 11111111;
	overflow: hidden;
}

.articleHeader p {
	font-family: avenue;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: normal;
	line-height: 30px;
	margin: 0px !important;
	float: left;
	width: 35%;
}

/*.title-article {
	border-bottom: 6px solid blue;
	border-top: 6px solid blue;
	float: left;
	width: 100%;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: justify;
	height: 60px;
	overflow: hidden;
}

.title-article > p{
	display: inline-block;
	vertical-align: top;
	font-size: 20px;
	letter-spacing: 1px;
}
*/

.fixedSort{
	position: fixed;
	top: 0px;
	width: 90%;
}

.article-issue {
	float: left;
	padding: 5px 15px 5px 0px;
	font-size: 20px;
}


.list a:link, a:visited, a:active{
	color: rgba(200, 0, 0, 1);
	text-decoration: none;
	outline: none;
}

.list a:hover{
	color: blue;
	border-bottom: 6px solid blue;
	border-spacing: 100px;
	padding-bottom: 5px;
}

.list li {
	margin-left: 18%;
	padding-left: 20px;  
	list-style: none;
	height: auto;
	float: left;
	width: 82%;
	line-height: 70px; 
}

.list {
	text-indent: 0px;
	padding-bottom:20px !important;
	padding-left: 1px; 
	width: 100%;
	float: left;
	margin-bottom: 0px;
}

.category {
	border-right: 6px solid blue;
	height: 400px;
	background-color: ;
	float: left;
}

.category p {
	position: relative;
 	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

hr, dd {
	display: none;
}

/* @MEDIA CSS */

@media screen and (max-width: 1200px) {
	.articleHeader p {
		float: left;
		width: 100%;
	}
}

@media screen and (min-width: 1650px) {
	body {
		margin: 13%;
		margin-top: 5%;
		margin-bottom: 5%;
	}

	.fixedSort{
		position: fixed;
		top: 0px;
		width: 74%;
	}
}